<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="POST" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}


    {% for field in form %}
    {{field.label_tag}} {{field}} {{field.errors|striptags}}<br><br>
    {% endfor %}
    <input type="submit" value="Login">
    <br><br>
    <a href="{% url 'signup' %}">Sign Up</a>

    <br><br>
    <a href="{% url 'forgot-pass' %}">Forgot Password?</a>

</form>

</body>
</html>